.title, .turn, .button {
  text-align: center;
  font-size: 25px;
}

.top_container {
  width: 300px;
  margin: 10px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  margin: 0 auto;
}

.item {
  border: solid 1px black;
  justify-self: center;
  align-self: center;
  width: 100px;
  height: 100px;
  font-size: 60px;
  text-align: center;
}

.item:nth-child(odd) {
  background-color: lightgrey;
}

.item:hover {
  border: solid 5px green;
  cursor: pointer;
}
